<div id="teste" style="height: 100vh;">
  <div class="conteiner p-5" id="teste2">
    <h1 class="text-center my-3">Cadastrar</h1>

    <div class="d-flex justify-content-center">
      <a routerLink="/entrar">
        <button type="button" class="btn btn-outline-dark mt-1 mr-5 " style="border-radius: 20px;">
          Cancelar
        </button>
      </a>
      <button (click)="cadastrar()" type="button" class="btn btn-outline-dark mt-1" style="border-radius: 20px;">
        Cadastrar
      </button>
    </div>
  </div>
</div>

<script src="cadastrar.component.js"></script>


