<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Siga-nos nas redes sociais:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="mr-5 icones">
      <a href="" class="me-4 text-reset mx-3">
        <i class="fa fa-facebook fs-5" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset mx-3">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset mx-3">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset  mx-3">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/ApoiaTurismo/G3" class="me-4 text-reset mx-3">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->


  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://apoiaturismo.heroku.com">ApoiaTurismo</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
