<div class="row">
  <div class="col-12 px-0 mx-0 categorias-bg fluid">
    <hr>
      <ul class="d-flex justify-content-between">

        <li class="list-unstyled">
          <div class="justify-content-center">
            <a href="/categorias/moveis" style="text-decoration: none;">
              <div class="rounded-circle bg-light d-flex justify-content-center align-items-center m-auto" style="height: 50px; width: 50px;">
                <i class="fa fa-bed" aria-hidden="true"></i>
              </div>
            </a>
            <p>Móveis</p>
          </div>
        </li>


        <li class="list-unstyled">
          <div class="justify-content-center">
            <a href="/categorias/moveis" style="text-decoration: none;">
              <div class="rounded-circle bg-light d-flex justify-content-center align-items-center m-auto" style="height: 50px; width: 50px;">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
              </div>
            </a>
            <p>Brinquedos</p>
          </div>
        </li>


        <li class="list-unstyled">
          <div class="justify-content-center">
            <a href="/categorias/moveis" style="text-decoration: none;">
              <div class="rounded-circle bg-light d-flex justify-content-center align-items-center m-auto" style="height: 50px; width: 50px;">
                <i class="fa fa-reply-all" aria-hidden="true"></i>
              </div>
            </a>
            <p>Roupas</p>
          </div>
        </li>


        <li class="list-unstyled">
          <div class="justify-content-center">
            <a href="/categorias/moveis" style="text-decoration: none;">
              <div class="rounded-circle bg-light d-flex justify-content-center align-items-center m-auto" style="height: 50px; width: 50px;">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </div>
            </a>
            <p>Instrumentos</p>
          </div>
        </li>


        <li class="list-unstyled">
          <div class="justify-content-center">
            <a href="/categorias/moveis" style="text-decoration: none;">
              <div class="rounded-circle bg-light d-flex justify-content-center align-items-center m-auto" style="height: 50px; width: 50px;">
                <i class="fa fa-align-justify" aria-hidden="true"></i>
              </div>
            </a>
            <p>Todos</p>
          </div>
        </li>

      </ul>
  </div>
</div>

