<div class="jumbotron jumbotron-fluid d-flex justify-content-center">
  <form>
    <div class="form-row">
      <h1>Quer nos dar um feedback?</h1>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Seu email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Assunto</label>
      <input type="text" class="form-control" id="inputAssunto" placeholder="Seu assunto">
    </div>
    <div class="form-row">
      <label for="inputText">Texto</label>
      <input type="textbox" class="form-control" id="inputTexto" placeholder="Sobre o que você quer falar?" style="min-height: 10em; min-width: 30em;">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Nos siga
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="border-radius: 20px;">Enviar</button>
  </form>
  <img src="../../assets/img/Online world-pana.png" class="ml-5" alt="" height="500px">
</div>


