<div class="jumbotron jumbotron-fluid d-flex justify-content-center">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Seu email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Assunto</label>
      <input type="text" class="form-control" id="inputAssunto" placeholder="Seu assunto">
    </div>
    <div class="form-row">
      <label for="inputText">Texto</label>
      <input type="textbox" class="form-control" id="inputTexto" placeholder="Sobre o que você quer falar?" style="min-height: 10em; min-width: 30em;">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Nos siga
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="border-radius: 20px;">Enviar</button>
  </form>
  <iframe class="m-5" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10655.150057201243!2d-46.53199191685583!3d-23.463328499379777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1638546055650!5m2!1spt-BR!2sbr" width="400" height="325" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>


